<html>
  <head>
    <style>
      td > span > b > span > a {
        color: #1890ff !important;
      }
    </style>
  </head>

  <body>
    <div
      style="
        width: 100% !important;
        min-width: 100%;
        font-size: 15px;
        margin: 0;
        padding: 0;
        color: #42464d;
        font-family: Arial, Helvetica, sans-serif;
      "
    >
      <table
        style="
          border-spacing: 0;
          border-collapse: collapse;
          width: 100%;
          vertical-align: top;
          margin: 0;
          padding: 0;
          color: #42464d;
        "
      >
        <tbody>
          <tr>
            <td>
              <div
                style="
                  background: #f9f9f9;
                  padding: 40px 0;
                  margin: 10px 0;
                  border-bottom: 1px solid #efefef;
                "
              >
                <table
                  style="
                    border-spacing: 0;
                    border-collapse: collapse;
                    width: 100%;
                    vertical-align: top;
                    max-width: 640px;
                    margin: 0 auto;
                    padding: 0;
                    font-size: 15px;
                    font-family: Arial, Helvetica;
                  "
                >
                  <tbody>
                    <tr>
                      <td>
                        <table
                          style="
                            border-spacing: 0;
                            border-collapse: collapse;
                            width: 100%;
                            vertical-align: top;
                            margin: 20px 0;
                            padding: 0;
                            font-size: 14px;
                          "
                        >
                          <tbody>
                            <tr>
                              <td style="padding-bottom: 12px">
                                <span style="font-size: 14px">
                                  Sử dụng mã bên dưới để xác thực tài khoản của
                                  bạn:
                                </span>
                              </td>
                            </tr>

                            <tr>
                              <td
                                style="padding-bottom: 16px; text-align: center"
                              >
                                <b
                                  id="otp"
                                  style="
                                    color: #2763ac;
                                    text-decoration: none;
                                    display: inline-block;
                                    padding: 15px 40px;
                                    margin: 10px auto;
                                    font-size: 38px;
                                  "
                                  target="_blank"
                                >
                                  {{otp}}
                                </b>
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <div style="text-align: center"></div>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-bottom: 12px">
                                <span style="font-size: 14px">
                                  Đây là email tự động, bạn không cần phản hồi
                                  email này.
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <img
        alt=""
        width="1"
        height="1"
        border="0"
        style="
          height: 1px !important;
          width: 1px !important;
          border-width: 0 !important;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
        "
      />
    </div>
  </body>
</html>
