<div
  style="
    width: 100% !important;
    min-width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #42464d;
    font-family: Arial, Helvetica, sans-serif;
  "
>
  <table
    style="
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
      vertical-align: top;
      margin: 0;
      padding: 0;
      color: #42464d;
    "
  >
    <tbody>
      <tr>
        <td>
          <div
            style="
              background: #f9f9f9;
              padding: 40px 0;
              margin: 10px 0;
              border-bottom: 1px solid #efefef;
            "
          >
            <table
              style="
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;
                vertical-align: top;
                max-width: 640px;
                margin: 0 auto;
                padding: 0;
                font-size: 15px;
                font-family: Arial, Helvetica;
              "
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      style="
                        border-spacing: 0;
                        border-collapse: collapse;
                        width: 100%;
                        vertical-align: top;
                        margin: 20px 0;
                        padding: 0;
                        font-size: 14px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td>
                            <ul style="font-size: 16px">
                              <li style="padding-bottom: 16px">
                                Chào mừng {{email}} đến với phần mềm
                                {{brandName}}. Dưới đây là tài khoản đăng nhập
                                của bạn
                              </li>
                              <li style="padding-bottom: 16px">
                                Tài khoản: {{email}}
                              </li>
                              <li style="padding-bottom: 16px">
                                Mật khẩu: {{password}}
                              </li>
                              <li style="padding-bottom: 16px">
                                Mời bạn truy cập vào đường dẫn {{homePage}} để
                                bắt đầu sử dụng
                              </li>
                              <li>
                                Đây là email tự động, bạn không cần phản hồi
                                email này.
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <img
    alt=""
    width="1"
    height="1"
    border="0"
    style="
      height: 1px !important;
      width: 1px !important;
      border-width: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
    "
  />
</div>
